node_modules/
.vscode/**
.vscode-test/**
.vscodeignore
.yarnrc
vsc-extension-quickstart.md
todo.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/out/
.d.ts
package-lock.json
stackScrapper-0.1.0
stackScrapper-0.1.1
stackScrapper-0.1.2
stackScrapper-0.1.3
stackScrapper-0.1.4
